bin/
lib/
Secao07/aula339-calculadora/__pycache__/
Secao07/aula340-qtdesigner/src/__pycache__/
Secao08/aula387/db.sqlite3
Secao08/aula387/__pycache__/
Secao08/aula387/aula387/
Secao08/aula387/.env
Secao09/tutorial-django/
Secao09/aula_418_ola_django/db.sqlite3
Secao09/aula_418_ola_django/project/__pycache__/
Secao09/aula_418_ola_django/home/__pycache__/
Secao09/aula_418_ola_django/blog/__pycache__/